* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;

  }
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .center{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main {
    width: 50%;
    margin: 0 auto;
  }
  .progress {
    margin: 25px 0;
  }
  .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
  }
  .title h3 {
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 500;
  }
  .barline {
    height: 12px;
    background: #fff;
    border-radius: 20px;
  }
  
  .countbar {
    height: 12px;
    background: #0f33ff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
  }
  .countbar h3 {
    position: absolute;
    right: -24px;
    top: -47px;
    background: #24292e;
    padding: 4px 6px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
  }
  .countbar h3::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 11px;
    height: 11px;
    background: #24292e;
    transform: rotate(45deg) translateX(-60%);
  }
  
  @media (max-width: 700px){
    .main{
        width: 80%;
    }
    .countbar h3{
        font-size: 20px;
    }
    .progress{
      margin: 11px 0;
    }
  }